<h1>Course Catalog</h1>

<!-- 
  <p><a href = '/static_pages/course')>Courses</a></p>
  <p><a href = '/static_pages/subjects')>Subjects</a></p>
  <p><a href = '/static_pages/instructors')>Instructors</a></p>
-->
